
.side-bar {
    width: 10%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: lavender;
    overflow-x: hidden; 
    border-right: 5px solid darkgrey;
}

.side-bar button {
    padding: 5%;
    display: block;
    border: none;
    background-color: lavender;
}

.side-bar #exit-icon {
    padding: 20%;
    width: 70%;
    height: 70%;
}

.side-bar #logo-icon {
    border-bottom: 5px solid darkgrey;
}

.side-bar img {
    width: 100%;
    height: 100%;
}



